.BiomarkerInterventionSection {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .BiomarkerInterventionSection {
    .grid {
      grid-template-columns: 1fr;
    }
  }
}

@media print {
  .BiomarkerInterventionSection {
    display: none;
  }
}
