@import '../../palette.scss';

.top-bar {
  border-radius: 4;
  color: $dark-color;
  z-index: 99;
  margin-bottom: 1rem;
  > .Row {
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.dark-mode {
  .top-bar {
    color: white;
  }
}
@media only screen and (max-width: 768px) {
  .top-bar {
    padding: 0.5rem 1rem;
    flex-direction: column;
    display: none;
  }
}

@media print {
  .top-bar {
    .button {
      display: none;
    }
  }
}
