.BiomarkerHistorySection {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .BiomarkerHistorySection {
    header {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }
}
@media print {
  .BiomarkerHistorySection {
    page-break-inside: avoid;
    .button,
    p,
    .icon-button {
      display: none;
    }
  }
}
