button.button {
  background: #fff;
  padding: 10px 14px;
  color: black;
  font-family: Poppins, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
  font-size: 16;
  border-radius: 4;
  white-space: nowrap;
  transition: 200ms;
  &:hover:not(:disabled) {
    cursor: pointer;
    background: #eee;
    transform: scale(1.025);
  }
  svg {
    color: rgba(0, 0, 0, 0.5);
  }
  &:disabled {
    opacity: 0.5;
  }
}

.dark-mode {
  button.button {
    background: linear-gradient(to bottom, #345, #456);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    &:hover:not(:disabled) {
      background: linear-gradient(to bottom, #456, #567);
    }
    svg {
      color: white;
    }
  }
}
