$dark-color: #002238;
$dark-color-2: #234;

// dark theme colors
$primary-color: #F5567E;
$secondary-color: #FFD186;
$tertiary-color: #06D6A0;
$quaternary-color: #118AB2;

// light theme colors
$primary-color-light: #DF285F;
$secondary-color-light: #FFB166;
$tertiary-color-light: #00A680;
$quaternary-color-light: #0A558C;